SEVEN_AZ_API_KEY=...
SEVEN_AZ_BASE_API_URL=...

IXC_ACCESS_TOKEN=...
IXC_BASE_API_URL=...

OPA_ACCESS_TOKEN=...
OPA_BASE_API_URL=...

IXC_ACS_BASE_API_URL=...
IXC_ACS_CLIENT_ID=...
IXC_ACS_CLIENT_SECRET=...

DB_URL_SYNC=...
DB_URL_ASYNC=...

DFLT_USER_EMAIL=...
DFLT_USER_NAME=...
DFLT_USER_PASS=...

PG_DB=...
PG_PASS=...
PG_USER=...

BOT_PASS=...
BOT_USERNAME=...

TOKEN_EXPIRE_MINUTES=...
REFRESH_TOKEN_EXPIRE_DAYS=...

SECRET_KEY=...

RUN_MIGRATIONS=...
